BasedOnStyle: Chromium
AccessModifierOffset: -2
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: MultiLine
ColumnLimit: 120
CompactNamespaces: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
IndentPPDirectives: AfterHash
IndentWidth: 4
PointerAlignment: Left
SpacesInAngles: false
Standard: c++11
