* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif, Calibri;
  line-height: 1.4em;
  color: black;
  background-color: #ffffff;
}


/* Default body styles */
a {
  color: #7f1111;
  text-decoration: none;
}

.clearer {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.line-block {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.line-block .line-block {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
    font-style: normal;
    font-weight: bold;
}


a.headerlink {
  visibility: hidden;
  color: #dddddd;
  padding-left: .3em;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}

img {
  border: 0;
}

div.admonition {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 7px 1px 7px;
  border-left: 0.2em solid #8B0304;
}

p.admonition-title {
  margin: 0px 10px 5px 0px;
  font-weight: bold;
}

dt:target, .highlighted {
  background-color: #fbe54e;
}

/* Content */

div.content-wrapper {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.body {
  padding-right: 2em;
  text-align: justify;
}

h1 {
  line-height: 120%;
}

ul {
  margin: 0 1.5em;
  list-style-type: square;
}

dd {
  margin-left: 1.2em;
  margin-top: .4em;
  margin-bottom: 1em;
}

.section {
  margin-top: 1.7em;
}
.section:first-child {
  margin-top: 0px;
}

div.highlight {
  padding: 3px;
  background-color: #eeeeec;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  margin-top: .5em;
  margin-bottom: 1.8em;
}

h2 {
  margin-top: .7em;
}

p {
  margin-top: .5em;
  margin-bottom: .25em;
}

li.toctree-l1 {
  margin-top: 0.35em;
}

.descname {
  font-weight: bold;
}

.docutils.literal {
  padding: 1px;
}

.docutils.xref.literal {
  background-color: transparent;
  padding: 0px;
}

blockquote {
  margin-left: 1em;
}

ol {
  margin: 1.5em;
}


pre, kbd, samp, tt, code {
    font-family: monospace, Monaco, Menlo, Consolas;
}

dl.xml-contents dt {
    font-weight: bold;
}

dl.xml-contents dl {
    margin-top: 1em;
}

dl.tag {
    margin-top: 1.5em;
}

dl.tag>dt {
    /* background-color: #ffe; */
}

dl.xml-contents, dl.tag table.field-list {
    margin-top: 0.5em;   
}

th.field-name {
    white-space: nowrap;
    padding-right: 0.25em;
}

p.rubric {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

table.docutils {
    border-style: none;
    width: 100%;
    margin-bottom: 0.5em;
}

table.docutils tr.row-odd {
    background-color: #f6f6f6;
}

table.docutils td {
    border-style: none;
    border-width: 0;
    padding: 0em 0.25em 0em 0.25em;
}

table.docutils td p {
    margin-bottom: 0px;
}

/* Lines increasing legibility */

dl.tag>dd {
    margin-left: 0em;
    padding-left: 1.2em;
    margin-top: 0em;
    padding-top: 0.4em;
    border-left: solid 4px #eee;
}

dl.method, dl.attribute, dl.function {
    padding-left: 4px;
    border-top: solid 4px #eee;
    border-left: solid 4px #eee;
}

dl.method dt, dl.attribute dt, dl.function dt {
    margin-left: -4px;
    padding-left: 4px;
    text-align: left;
    margin-top: 1.5em;
}

/* Other */

p.topic-title.first {
    font-size: 1.2em;
    font-weight: bold;
}

blockquote {
    padding: 0px 20px;
}

em {
    margin-right: 0.15em;
}

pre {
    padding: 5px;
}

span.pre {
    background-color: #ffffff;
}

h1 span.pre,
a span.pre,
tr span.pre {
    background: none;
}

/* Sidebar */

div.sphinxsidebar {
    font-size: 0.95em;
}

div.sphinxsidebar ul {
    padding-left: 0px;
    list-style: none;
}

div.sphinxsidebar ul ul,
div.sphinxsidebar ul.want-points {
    padding-left: 20px;
    list-style: square;
}

div.sphinxsidebar a, div.header a {
  text-decoration: none;
}

div.sphinxtoc a {
  font-weight: normal;
}

div.sphinxsidebar a:hover, div.header a:hover {
  text-decoration: underline;
}

div.sphinxsidebar h3 {
  color: #2e3436;
  text-transform: uppercase;
  font-size: 130%;
  letter-spacing: .1em;
}


/* Styles copied from basic theme */

img.align-left, .figure.align-left, object.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}

img.align-right, .figure.align-right, object.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* -- index page ------------------------------------------------------------ */

table.contentstable {
    width: 90%;
}

table.contentstable p.biglink {
    line-height: 150%;
}

a.biglink {
    font-size: 1.3em;
}

span.linkdescr {
    font-style: italic;
    padding-top: 5px;
    font-size: 90%;
}

/* -- general index --------------------------------------------------------- */

td {
    text-align: left;
    vertical-align: top;
}

table.indextable dl, table.indextable dd {
    margin-top: 0;
    margin-bottom: 0;
}

table.indextable tr.pcap {
    height: 10px;
}

table.indextable tr.cap {
    margin-top: 10px;
    background-color: #f2f2f2;
}

img.toggler {
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
}

/* -- viewcode extension ---------------------------------------------------- */

.viewcode-link {
    float: right;
}

.viewcode-back {
    float: right;
    font-family: sans-serif;
}

div.viewcode-block:target {
    margin: -1px -3px;
    padding: 0 3px;
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

/* Index */

div.genindex-jumpbox a { margin: 0px 1px; }
div.genindex-jumpbox a:first-child { margin-left: 0px; }
div.genindex-jumpbox a:last-child { margin-right: 0px; }

.genindex div.entry { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.genindex div.subentry { 
    margin-left: 1.2em;
}

dl.docutils dd {
    margin-left: 30px;
}
