[Desktop Entry]
Comment=
Exec=plask-qtconsole
GenericName=Photonic Laser Simulation Kit — QtConsole
Icon=plask
MimeType=application/x-plask
Name=PLaSK QtConsole
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Science;Physics;Python;Qt;
