[Desktop Entry]
Comment=
Exec=plaskgui
GenericName=Photonic Laser Simulation Kit
Icon=plaskgui
MimeType=application/x-plask
Name=PLaSK GUI
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Science;Physics;Python;Qt;
