[Desktop Entry]
Comment=Numerical analysis of physical phenomena in photonic devices.
Exec=plaskgui %f
GenericName=Photonic Laser Simulation Kit
Icon=plaskgui
MimeType=application/x-plask
Name=PLaSK GUI
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Science;Education;Physics;Python;Qt;
